


{% block stylesheets %}
   {# <link href="{{ asset('bundles/hnrsircim/js/jquery-ui-1.10.3.custom/css/custom-theme/jquery-ui-1.10.3.custom.css') }}" rel="stylesheet" type="text/css" /> #}
   <link href="{{ asset('bundles/hnrsircim/js/Zebra_Datepicker-master/public/css/default.css') }}" rel="stylesheet" type="text/css" /> 
   
{% endblock %}


{% block javascripts %}
   {# <script type="text/javascript" src="{{ asset('bundles/hnrsircim/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js') }}" ></script> #}
    <script type="text/javascript" src="{{ asset('bundles/hnrsircim/js/Zebra_Datepicker-master/public/javascript/zebra_datepicker(bitacora).js') }}" ></script>   
    <script src="{{ asset('bundles/hnrsircim/js/scrollbar/src/jquery.mousewheel.js') }}"></script>
    <script src="{{ asset('bundles/hnrsircim/js/scrollbar/src/perfect-scrollbar.js') }}"></script>
    <script src="{{ asset('bundles/hnrsircim/js/Modulos/bitacora/bitacora.js') }}"></script>
   
{% endblock %}


{% block body -%}

    
    
    
    <div id="titulo_barra">
        Consultar bitácora
        <a class="cerrar" href="#" style="color: white;">
            x
        </a>
    </div>

<br>

<div id="botones_bitacora">
            {# Bloque para botones de bitacora #}
    <table align="right">
        <tr>
            <td>
                Acciones: 
            </td>
            <td>
                <select id="desplegable_bitacora" class="desplegable" name="listaempleado">
                    <option value="0">Mostrar todas las acciones</option>
                    <option value="1">Registros de sesión</option>
                    <option value="2">Registros de creación</option>
                    <option value="3">Registros de modificación</option>
                    <option value="4">Registros de eliminación</option>
                    <option value="5">Cambios de estado</option>
                </select>
            </td>
            <td>
                Fecha:
            </td>
            <td>
                <input id="bitacora_fecha" class="textos"></input>
            </td>
        </tr>
    </table>
</div>
    

   
    
<br>
<br>


        <table class="listados" id="tabla_bitacora">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Acción</th>
                    <th>Fecha / Hora</th>
                </tr>
            </thead>
        </table>
    <div id="listado_acciones">     
        <div id="registros">
            <table class="listados" id="tabla_bitacora">
                
                <tbody>
                {% for key, entity in entities %}
                    <tr>
                        <td>  {{ entities|length - key }}</td>
                        <td>{{ entity.biAccion }}</td>
                        <td>
                            {% if entity.biFecha %}
                                {{ entity.biFecha|date('d/m/Y') }}
                                {% if entity.biFecha|date('H') <= 12 %} 
                                    {{ entity.biFecha|date('H:i:s') }} a.m.
                                {% else %}
                                    {{ entity.biFecha|date('H')-12 }}{{entity.biFecha|date(':i:s')}} p.m.
                            {% endif %}

                                {# {{ entity.biFecha|date('H:i:s') }} #}
                            {% endif %}</td>
                        
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>   
    </div>
    {#     <ul>
        <li>
            <a href="{{ path('bitacora_new') }}">
                Create a new entry
            </a>
        </li>
    </ul> #}
    {% endblock %}