
 {% extends 'hnrsircimBundle::Layout.html.twig' %}

{% block lista_modulos %}
    {% for modulo in modulos %}
        <li><a href="{{ path(modulo.osUrl, { 'login': usuario.usLogin }) }}">{{modulo}}</a></li>
    {% endfor %}
{% endblock %}


{% block configuracion %}
    
    <a id="conf_cuenta" href="{{ path('usuario_cuenta', { 'login':login,'opc':'0' }) }}">Configuraci칩n de cuenta</a>

{% endblock %}


{% block nombre_usr %}
    <label id="{{ usuario.usLogin }}">
        {{ usuario.usLogin }}
    </label> 
{% endblock %} 

{% block mod_activo %} 
    
    Administraci칩n

{% endblock %}  

{% block gestion_modulo %} 
    
    Gesti칩n de tama침os de placa

{% endblock %} 

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/hnrsircim/js/Modulos/administracion/tamanoplaca/index.js') }}" type="text/javascript"></script>
    
    
{% endblock %}

{% block botones_modulo %}
    <div class="menu_grupo">
        {# <button id="buscar" class="btn btn_destacado"></button> #}
        <button href="{{ path('tamanoplaca_new',{'login':login}) }}" id="nuevo" class="btn btn_destacado"></button>

    </div>
{% endblock %}

{% block emergente %}
    <div id="deshabilitar"></div>
    <div id="popup_box_placa"></div>
{% endblock %}

{% block body -%}
    
<br>
<br>
    <table class="listados">
        <thead>
            <tr>
                <th>No.</th>
                <th>Tamano</th>
                <th>Activo/Inactivo</th>
                {# <th>Tpusuariocreacion</th>
                <th>Tpusuariomodificacion</th>
                <th>Tpfechacreacion</th>
                <th>Tpfechamodificacion</th> #}
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for key, entity in entities %}
            <tr>
                <td>{{key+1}}</td>
                <td>{{ entity.tpTamano }}</td>
                <td><div class="slideThree">   
                            <input type="checkbox" 
                                
                                    {% if entity.tpEstado == 1%} 
                                        checked 
                                    {% endif %} 
                                
                                    id="{{entity.id}}" name="{{entity.tpTamano}}" 
                            />
                            <label for="{{entity.id}}"></label>
                        </div>
                </td>
                <td>
                    <a class="acciones" href="{{ path('tamanoplaca_edit', { 'id': entity.id, 'login':login}) }}">
                        <img src="{{ asset('bundles/hnrsircim/img/edit.png')}}">
                    </a>
                    
                    {# <a class="acciones" href="{{ path('tamanoplaca_show', { 'id': entity.id }) }}">
                        <img src="{{ asset('bundles/hnrsircim/img/detalle.png')}}">
                    </a> #}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
       
    {% endblock %}

