{% block javascripts %}            
    <script src="{{ asset('bundles/hnrsircim/js/Modulos/administracion/area/new_edit.js') }}" type="text/javascript"></script>        
{% endblock %}  

{% block body -%}
    <div id="titulo_barra">
        Nueva área
    </div>
    <br><br>
    <form action="{{ path('area_create', { 'id': entity.id,'login':login }) }}" method="post" {{ form_enctype(form) 
}}>
    {# <form action="{{ path('area_create') }}" method="get" {{ form_enctype(form) }}> #}

        <table id="tbl_area" class="tbl_nuevo" align="center">
            <tr>
                <td colspan="2">
                    <div id="titulo">
                        Información del área
                    </div>                
                </td>
            </tr>
            
            <tr>
                <td>
                    Nombre:
                </td>
                <td>
                    {{ form_widget(form.arNombre)}}
                </td>
            </tr>    

            <tr>
                <td>
                    Descripción:
                </td>
                <td>
                    {{ form_widget(form.arDescripcion)}}
                </td>
            </tr>    
            <tr>
                <td colspan="2">
                    <div id="titulo">
                        Número de cupos por área
                    </div>                
                </td>
            </tr>

            <tr>
                <td>
                    Cupos:
                </td>
                <td>
                    {{ form_widget(form.arCupo)}}
                </td>
            </tr>    
            
              {{form_rest(form)}}
        </table>


        <br>
        <div class="botones">
            <p>
                <button type="submit" class="guardar">Guardar</button>
                {# <a id="cancelar" class="cancelar" href"">Cancelar</a> #}
                <button id="cancelar" class="cancelar">Cancelar</button>
            </p>
        </div>
    </form>
    


{% endblock %}


