{% extends 'hnrsircimBundle::Layout.html.twig' %}

{% block stylesheets %}
   {{ parent() }}
   <link href="{{ asset('bundles/hnrsircim/js/Zebra_Datepicker-master/public/css/metallic.css') }}" rel="stylesheet" type="text/css" /> 
{% endblock %}
   
{% block javascripts %}
   {{ parent() }}
   <script type="text/javascript" src="{{ asset('bundles/hnrsircim/js/Zebra_Datepicker-master/public/javascript/zebra_datepicker.js') }}" ></script>   
{% endblock %}

{% block mod_activo %} Registro de estudios {% endblock %}


{% block nombre_usr %}
    <label id="{{ login }}">
        {{ login }}
    </label> 
{% endblock %} 

{% block lista_modulos %}
    {% for modulo in modulos %}
        <li><a href="{{path(modulo.osURL,{'login':usuario})}}">{{modulo}}</a></li>
    {% endfor %}
{% endblock %}

{% block configuracion %}
    
    <a id="conf_cuenta" href="{{ path('usuario_cuenta', { 'login':login,'opc':'0' }) }}">Configuración de cuenta</a>

{% endblock %}


{% block botones_modulo %} 
    <div class="menu_grupo"> 
        <button class="btn btn_regular btn_hoy" id="cancelar" title="Cancelar" onclick="location.href='{{ path('estudioradiologico',{'login':login}) }}';">Cancelar</button>
        <button type="submit" class="btn btn_regular" id="guardar" title="Guardar" onclick="document.getElementById('actualizar_estudio').submit();">Guardar</button>        
    </div>
{% endblock %}

{% block body -%}
    <form id="actualizar_estudio" class="form_estudio" action="{{ path('estudioradiologico_update', { 'id': entity.id,'login':login }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_errors(edit_form) }}
        <table>
          <tr>
            <td colspan="2" class="separador" id="paciente"> Paciente </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(edit_form.idSolicitud.idMntExpediente) }} </td>
            <td> {{ form_widget(edit_form.idSolicitud.idMntExpediente) }} </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(edit_form.idSolicitud.Nombre) }} </td>
            <td> {{ form_widget(edit_form.idSolicitud.Nombre) }} </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(edit_form.erEdadPaciente) }} </td>
            <td> {{ form_widget(edit_form.erEdadPaciente) }} </td>
          </tr>
          <tr>
            <td colspan="2" class="separador" id="estudio"> Estudio </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(edit_form.idSolicitud.EstudioArea) }} </td>       
            <td> {{ form_widget(edit_form.idSolicitud.EstudioArea) }} </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(edit_form.idSolicitud.soRegion) }} </td>    
            <td> {{ form_widget(edit_form.idSolicitud.soRegion) }} </td>    
          </tr>
          <tr>
            <td class="label"> {{ form_label(edit_form.idSolicitud.soPosicion) }} </td>    
            <td> {{ form_widget(edit_form.idSolicitud.soPosicion) }} </td>    
          </tr>
          <tr>
            <td class="label"> {{ form_label(edit_form.idSolicitud.idMntAtenAreaModEstab) }} </td>
            <td> {{ form_widget(edit_form.idSolicitud.idMntAtenAreaModEstab) }} </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(edit_form.idempleado) }} </td>
            <td> {{ form_widget(edit_form.idempleado) }} </td>
          </tr>
          <tr>
            <td colspan="2" class="separador" id="horario"> Horario </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(edit_form.idSolicitud.soFecha) }} </td>
            <td> {{ form_widget(edit_form.idSolicitud.soFecha) }} </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(edit_form.idSolicitud.soHora) }} </td>  
            <td> {{ form_widget(edit_form.idSolicitud.soHora) }} </td>  
          </tr>
          <tr>
            <td colspan="2" class="separador" id="peliculas"> Películas </td>
          </tr>
          <tr>
            <td colspan="2"> 
                <div class="tabla_placas">
                    <div class="add_placa"> 
                        <a class="add_placa_link" title="Agregar Tamaño de placa" href="#"> + </a> 
                    </div>
                    <div class="encabezado_placas">
                        <div>Tamaño</div>
                        <div>Aceptadas</div>
                        <div>Descartadas</div>
                    </div>
                    <div class="cuerpo_placas">
                        <ul class="placas" data-prototype="{{ form_widget(edit_form.placas.vars.prototype)|e }}">
                            {# {{ form_widget(edit_form.placas) }} #}
                            {% for placa in edit_form.placas %}
                                <li> 
                                     {{ form_row(placa) }} 
                                     <a class="link" href="#" style="visibility: hidden;">x</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="total_placas">
                        <div>TOTAL</div>
                        <div id="total_aceptadas">0</div>
                        <div id="total_descartadas">0</div>
                    </div>                    
                </div>
                
            </td>
          </tr>
          
        </table>
        
        {{ form_rest(edit_form) }}
    </form>

{% endblock %}

{% block script %}
<script type="text/javascript">
 
    $(document).ready(function() {
        
        $parameters = '?numExpediente=' + $('#hnr_sircimbundle_estudioradiologicotype_idSolicitud_idMntExpediente').val();
           
        $.getJSON(Routing.generate('get_infopaciente')+$parameters,
            function(data) {
                $.each(data.regs, function(indice, reg) {
                    $('#hnr_sircimbundle_estudioradiologicotype_idSolicitud_Nombre').val( reg.Nombre );                            
                });
            });
         
        var collectionHolder = $('ul.placas');
        
        collectionHolder.data('index', collectionHolder.find(':input').length);

        $('.add_placa_link').on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addTagForm(collectionHolder);
        }); 
        
        $('.link').on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $(this).parent('li').remove();
            });
            
        $('.date').Zebra_DatePicker({
                        direction: false,
                        //format: 'YYYY-M-d',
                        onSelect: function(dateText,inst) {
                                    var date = new Date(dateText);
                                    
                                    /*switch( date.getDay() ){
                                       case 0 : alert(date.getDay()+': Lunes'); break;
                                       case 1 : alert(date.getDay()+': Martes'); break;
                                       case 2 : alert(date.getDay()+': Miercoles'); break;
                                       case 3 : alert(date.getDay()+': Jueves'); break;
                                       case 4 : alert(date.getDay()+': Viernes'); break;
                                       case 5 : alert(date.getDay()+': Sabado'); break;
                                       case 6 : alert(date.getDay()+': Domingo'); break;
                                    }*/
                                    
                                    $.getJSON(Routing.generate('get_horas')+'?idEstudio=1&dia=Lunes',
                                        function(data) {
                                            $.each(data.regs, function(indice, reg) {
                                                //alert( reg.hoHoraInicio);
                                                var horainicio = reg.hoHoraInicio, horafin =reg.hoHoraFin;
                                                while(horainicio != horafin){
                                                    if( horainicio.substring(3, 5) == '00' ){
                                                        horainicio = horainicio.substring(0, 3) + '30';
                                                        $('#hora_content').append('<li>'+horainicio+'</li>');
                                                    }
                                                    else{
                                                        horainicio = (parseInt(horainicio.substring(0, 2)) + 1) + ':00';
                                                        $('#hora_content').append('<li>'+horainicio+'</li>');
                                                    }
                                                    /*alert( parseInt(horainicio.substring(0, 2)) + 1 );
                                                    alert(horainicio.substring(3, 5));*/
                                                    /*if( horainicio.substring(3, 5) == horafin.substring(3, 5) )
                                                        alert();*/
                                                }
                                                //$('#result').append(reg.hoHoraInicio + ' - ' + reg.hoHoraFin);
                                            });
                                        });
                        }
                    });
                    
                    var sum_pl_aceptadas = 0,
                    sum_pl_descartadas = 0;
                    $('.placas_aceptadas').each(function(){
                        sum_pl_aceptadas += parseInt( $(this).val() ); 
                    });
                    $('.placas_descartadas').each(function(){
                        sum_pl_descartadas += parseInt( $(this).val() ); 
                    });
                    $('#total_aceptadas').html(sum_pl_aceptadas);
                    $('#total_descartadas').html(sum_pl_descartadas);
         
    });
    
    function addTagForm(collectionHolder) {
            // Get the data-prototype explained earlier
            var prototype = collectionHolder.data('prototype');
            
            // get the new index
            var index = collectionHolder.data('index');
            
            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);
            
            // increase the index with one for the next item
            collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append('<div>'+newForm+'</div>');
            
            collectionHolder.append($newFormLi);

            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }

    function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a class="link" href="#">x</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
                
                var sum_pl_aceptadas = 0,
                    sum_pl_descartadas = 0;
                $('.placas_aceptadas').each(function(){
                    sum_pl_aceptadas += parseInt( $(this).val() ); 
                });
                $('.placas_descartadas').each(function(){
                    sum_pl_descartadas += parseInt( $(this).val() ); 
                });
                $('#total_aceptadas').html(sum_pl_aceptadas);
                $('#total_descartadas').html(sum_pl_descartadas);
            });
        }
        
    $('ul.placas')
            .on('mouseover','li', function(){
                $(this).find('a.link').css('visibility','visible');
            })
            .on('mouseout','li', function(){ 
                $(this).find('a.link').css('visibility','hidden'); 
            });
    
    $('.cuerpo_placas').on('keyup','.placas_aceptadas',function() {
        var sum = 0;
        $('.placas_aceptadas').each(function(){
            sum += parseInt( $(this).val() ); 
        });
        $('#total_aceptadas').html(sum);
    });
        
    $('.cuerpo_placas').on('keyup','.placas_descartadas',function() {
        var sum = 0;
        $('.placas_descartadas').each(function(){
            sum += parseInt( $(this).val() ); 
        });
        $('#total_descartadas').html(sum);
    });
</script>
{% endblock %}