 
    <form id="crear_cita" class="form_cita" action="{{ path('cita_create',{'login':login})}}" method="post" {{ form_enctype(form) }}>                 
        {# form_widget(form) #}
        {{ form_errors(form) }}
        <table>
          <tr>
            <td colspan="2" class="separador" id="paciente"> Paciente </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(form.idSolicitud.idMntExpediente) }} </td>
            <td> {{ form_widget(form.idSolicitud.idMntExpediente) }} </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(form.idSolicitud.Nombre) }} </td>
            <td> {{ form_widget(form.idSolicitud.Nombre) }} </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(form.ciEdadPaciente) }} </td>
            <td> {{ form_widget(form.ciEdadPaciente) }} </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(form.idSolicitud.idMntAtenAreaModEstab) }} </td>
            <td> {{ form_widget(form.idSolicitud.idMntAtenAreaModEstab) }} </td>
          </tr>
          <tr>
            <td colspan="2" class="separador" id="estudio"> Estudio </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(form.idSolicitud.EstudioArea) }} </td>       
            <td> {{ form_widget(form.idSolicitud.EstudioArea) }} </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(form.idSolicitud.soRegion) }} </td>    
            <td> {{ form_widget(form.idSolicitud.soRegion) }} </td>    
          </tr>
          <tr>
            <td class="label"> {{ form_label(form.idSolicitud.soPosicion) }} </td>
            <td> {{ form_widget(form.idSolicitud.soPosicion) }} </td>
          </tr>
          <tr>
            <td colspan="2" class="separador" id="horario"> Horario </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(form.idSolicitud.soFecha) }} </td>
            <td> {{ form_widget(form.idSolicitud.soFecha) }} </td>
          </tr>
          <tr>
            <td class="label"> {{ form_label(form.idSolicitud.soHora) }} </td>  
            <td> {{ form_widget(form.idSolicitud.soHora) }} 
                 <ul id="hora_content"></ul>
            </td>            
          </tr>
        </table>
            
        {# form_row(form.idSolicitud.soTipo) #}  
        {{ form_rest(form) }}
    </form>

{% block script %}
    <script>
        var login = $('#nombre_usr label').attr('id');
    $(document).ready( function(){
        document.getElementById("hnr_sircimbundle_citatype_idSolicitud_soRegion").disabled = true;
        document.getElementById("hnr_sircimbundle_citatype_idSolicitud_soPosicion").disabled = true;
        document.getElementById("hnr_sircimbundle_citatype_idSolicitud_soFecha").disabled = true;
        document.getElementById("hnr_sircimbundle_citatype_idSolicitud_soHora").disabled = true;
                
        $('.date').Zebra_DatePicker({
                        direction: true
                    });
        
        $('#hora_content').hide();
    });
    
    $('#hora_content').on('click', 'li', function(){
       $('.horas').val( $(this).html() );
       $('#hora_content').hide();
    });
    
    $('.horas, #hora_content span')
       .blur( function(){
            $('#hora_content').addClass('hiding');
            setTimeout( function(){
                $('#hora_content.hiding').hide();
            },100);
       })
       .focus( function(){
            var pos = $(this).css('position');        
            var width = $(this).css('width');
            
            $('#hora_content').removeClass('hiding').css({
            "width": width,
            "position": "absolute",
            "top": (pos.top) + "px",
            "left": (pos.left) + "px"
            }).show(200);
       });
    
    //Info de paciente
    $('#hnr_sircimbundle_citatype_idSolicitud_idMntExpediente').keyup(function(){
        
            $parameters = '?numExpediente=' + $(this).val();
            
            $.getJSON(Routing.generate('get_infopaciente')+$parameters,
                    function(data) {
                        $.each(data.regs, function(indice, reg) {
                            $('#hnr_sircimbundle_citatype_idSolicitud_Nombre').val( reg.Nombre );
                            $('#hnr_sircimbundle_citatype_ciEdadPaciente').val( reg.Edad );                            
                        });
                    });
        
    });
    
    //Listas desplegables y actualizacion de calendario
    $('select[id$="_idSolicitud_EstudioArea"]').change(function() {
        
        $('select[id$="_idSolicitud_soRegion"]').empty().append('<option value="">Seleccione...</option>');
        $('select[id$="_idSolicitud_soPosicion"]').empty().append('<option value="">Seleccione...</option>');
        
        if( $(this).find("option:selected").text() == 'Seleccione...'){
            $('select[id$="_idSolicitud_soRegion"]').attr('disabled',true);
            $('select[id$="_idSolicitud_soPosicion"]').attr('disabled',true);
            document.getElementById("hnr_sircimbundle_citatype_idSolicitud_soFecha").disabled = true;
            $('button.Zebra_DatePicker_Icon').addClass('Zebra_DatePicker_Icon_Disabled');
            document.getElementById("hnr_sircimbundle_citatype_idSolicitud_soHora").disabled = true;
        }
        else{    
            $parameters = '?nomEstudio=' + $(this).find("option:selected").text();

            $.getJSON(Routing.generate('get_regiones')+$parameters,
                        function(data) {
                            $.each(data.regs, function(indice, reg) {
                                $('select[id$="_idSolicitud_soRegion"]').append('<option value="' + reg.reNombre + '">' + reg.reNombre + '</option>');                       
                            });
                        });

            $.getJSON(Routing.generate('get_posiciones')+$parameters,
                        function(data) {
                            $.each(data.regs, function(indice, reg) {
                                $('select[id$="_idSolicitud_soPosicion"]').append('<option value="' + reg.poNombre + '">' + reg.poNombre + '</option>');                       
                            });
                        });

            $.getJSON(Routing.generate('get_dias')+'?idEstudio=' + $(this).val(),
                        function(data) {
                            var x='1,2,3,4,5,6,0,';
                            $.each(data.regs, function(indice, reg) {
                                switch(reg.hoDia){
                                   case 'Lunes'    : index = x.indexOf('1'); break;
                                   case 'Martes'   : index = x.indexOf('2'); break;
                                   case 'Miercoles': index = x.indexOf('3'); break;
                                   case 'Jueves'   : index = x.indexOf('4'); break;
                                   case 'Viernes'  : index = x.indexOf('5'); break; 
                                   case 'Sabado'   : index = x.indexOf('6'); break; 
                                   case 'Domingo'  : index = x.indexOf('0'); break;
                                }
                                 x = x.substring(0, index) + x.substring(index+2, x.length);                             
                            });

                            $('.date').Zebra_DatePicker({
                                direction: true,
                                disabled_dates: ['* * * '+x],
                                onSelect: function(dateText,inst) {
                                    var date = new Date(dateText);
                                    var dia;
                                    switch( date.getDay() ){
                                       case 0 : dia = 'Lunes';     break;
                                       case 1 : dia = 'Martes';    break;
                                       case 2 : dia = 'Miercoles'; break;
                                       case 3 : dia = 'Jueves';    break;
                                       case 4 : dia = 'Viernes';   break;
                                       case 5 : dia = 'Sábado';    break;
                                       case 6 : dia = 'Domingo';   break;
                                    }
                                    //alert(dia);
                                    //alert($("#hnr_sircimbundle_citatype_idSolicitud_EstudioArea").val());
                                    //alert(Routing.generate('get_horas')+'/1');
                                    $('#hora_content').empty();
                                    // alert(Routing.generate('get_horas'));
                                    $.getJSON(Routing.generate('get_horas')+'/'+$("#hnr_sircimbundle_citatype_idSolicitud_EstudioArea").val()+'/'+dia,
                                        function(data) {
                                            $.each(data.regs, function(indice, reg) {
                                                //alert( reg.hoHoraInicio);
                                                var horainicio = reg.hoHoraInicio, horafin =reg.hoHoraFin;
                                                $('#hora_content').append('<li>'+horainicio+'</li>');
                                                while(horainicio != horafin){
                                                    if( horainicio.substring(3, 5) == '00' )
                                                        horainicio = horainicio.substring(0, 3) + '30';
                                                    else
                                                        horainicio = (parseInt(horainicio.substring(0, 2)) + 1) + ':00';
                                                    
                                                    $('#hora_content').append('<li>'+horainicio+'</li>');
                                                    /*alert( parseInt(horainicio.substring(0, 2)) + 1 );
                                                    alert(horainicio.substring(3, 5));*/
                                                    /*if( horainicio.substring(3, 5) == horafin.substring(3, 5) )
                                                        alert();*/
                                                }
                                                //$('#result').append(reg.hoHoraInicio + ' - ' + reg.hoHoraFin);
                                            });
                                        });
                                    
                                    $.getJSON(Routing.generate('get_estado_cupos')+'/'+dateText+'/'+login,
                                            function(data) {
                                                $.each(data.regs, function(indice, reg) {
                                                    estado_cupo = reg;
                                                });
                                            });
                                    
                                }
                            });
                        });

            $('select[id$="_idSolicitud_soRegion"]').removeAttr('disabled');
            $('select[id$="_idSolicitud_soPosicion"]').removeAttr('disabled');
            document.getElementById("hnr_sircimbundle_citatype_idSolicitud_soFecha").disabled = false;
            $('button.Zebra_DatePicker_Icon').removeClass('Zebra_DatePicker_Icon_Disabled');
            document.getElementById("hnr_sircimbundle_citatype_idSolicitud_soHora").disabled = false;
        }
        
    });
    
    </script>
    
{% endblock %}