{% block javascripts %}                
     <script src="{{ asset('bundles/hnrsircim/js/Modulos/administracion/usuario/editcuenta.js') }}" type="text/javascript"></script>
{% endblock %}  


{% block body -%}
    <div id="titulo_barra">
        Editar usuario
    </div>
    {# <form action="{{ path('usuario_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Edit</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('usuario') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('usuario_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul> #}
    <br>
    <br>
    {# <form action="{{ path('usuario_update') }}" method="post" {{ form_enctype(edit_form) }}> #}
    <form action="{{ path('usuario_update', { 'id': entity.id ,'login':login,'opc':opc,'rolpredet':'0','login_viejo':'hnr:sircim' }) }}" method="post" {{ form_enctype(edit_form) }}>
    
        <input type="hidden" name="_method" value="PUT" /> 
        
     
        
        <table id="tbl_nuevo_usuario" align="center">
            <tr>
                <td colspan="2">
                    <div id="titulo" name="{{ entity.id }}">
                        Información personal
                    </div>                
                </td>
            </tr>
            <tr>
                <td>
                    Nombre:
                </td>
                <td>
                    
                        {% for empleado in empleados %}
                             {% if entity.idempleado == empleado.Idempleado %}

                                <label>{{ empleado.Nombre }}</label>

                            {% endif %}

                        {% endfor %}
                    
                </td>
            </tr>
            <tr>
                <td>
                    E-mail:
                </td>
                <td>
                    {{ form_widget(edit_form.usCorreo)}}
                </td>
            </tr>    

            <tr>
                <td>
                    Login:
                </td>
                <td>
                    {# {{ form_widget(edit_form.usLogin)}} #}
                    {{ form_widget(edit_form.usLogin, { 'attr': { 'readonly': 'true' } }) }}
                </td>
            </tr>    
            <tr id="ocultar" >
                <td colspan="2">
                    <div id="titulo">
                        Roles
                    </div>                
                </td>
            </tr>
            <tr id="ocultar"> 
                <td>
                </td>
                <td >
                        

                        <div id="listado">
                            <div class="listado">
                                <ul style="border-top: 0px none;" class="placas" data-prototype="{{ form_widget(edit_form.placas.vars.prototype)|e }}">

                                    {% for placa in edit_form.placas %}
                                        <li> 
                                             {{ form_row(placa) }} 
                                             {# <a class="link" href="#" style="visibility: hidden;">x</a> #}
                                        </li>
                                    {% endfor %}

                                    {# {{ form_widget(edit_form.placas) }} #}
                                </ul>
                            </div>
                        </div>
                           
                 </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="titulo">
                        Modificar contraseña
                    </div>                
                </td>
            </tr>    
            <tr>
                <td>
                    Contraseña:
                </td>
                <td>
                    {{ form_widget(edit_form.usContrasena.pass) }}
                </td>
            </tr>     
            <tr>
                <td>
                    Confirmar:
                </td>
                <td>
                    {{ form_widget(edit_form.usContrasena.confirm) }}
                </td>
            </tr>    
              
            {{form_rest(edit_form)}}   
        
</table>
    
        

        
    <br>
        <div class="botones">
            <p>
                <button type="submit" class="guardar guardar_editcuenta">Guardar</button>
                {# <a id="cancelar" class="cancelar" href"">Cancelar</a> #}
                <button id="cancelar" class="cancelar cerrar_cuenta">Cancelar</button>
            </p>
        </div>
    </form>
    
{% endblock %}

{# {% block script %}
    

<script type="text/javascript">

// Get the ul that holds the collection of tags
var collectionHolder = $('ul.placas');
var col=$('#hnr_sircimbundle_estudioradiologicotype_placas');
// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_placa_link">+</a>');
var $removeTagLink = $('<a href="#" class="remove_placa_link">x</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);
var $delLinkLi = $('#hnr_sircimbundle_estudioradiologicotype_placas.required').append($removeTagLink);

$('.add_placa_link').on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm(collectionHolder);
            });




jQuery(document).ready(function() {

    $('.btn_radio').click(function(event) {
        /* Act on the event */
        var id = $(this).attr('id');
        // alert(id);
        $('.btn_radio').prop('checked', false);
        $('#'+id).prop('checked', true);
     
    });
             
    $('#listado').perfectScrollbar({
          wheelSpeed: 20,
          wheelPropagation: false
    });


    $('#hnr_sircimbundle_usuariotype_usCorreo').on('input', function(event) {
        var parameters = $('#hnr_sircimbundle_usuariotype_usCorreo').val();          
        $('.guardar').removeAttr('existe');
        $.getJSON(Routing.generate('correo_consultar', { email: parameters }),
                            function(data) {
                                $.each(data.regs, function(indice, reg) {
                                    if(data.length!=0){
                                        $('.guardar').attr('existe', '1');      
                                    }    
                                });
                            });        
    });

    $('#hnr_sircimbundle_usuariotype_usLogin').on('input', function(event) {
        var parameters = $('#hnr_sircimbundle_usuariotype_usLogin').val();          
        $('.guardar').removeAttr('login');
        $.getJSON(Routing.generate('login_consultar', { login: parameters }),
                            function(data) {
                                $.each(data.regs, function(indice, reg) {
                                    if(data.length!=0){
                                        $('.guardar').attr('login', '1');      
                                    }    
                                });
                            });        
    });



    $('.guardar').click(function(event) {

        var pass = $('#hnr_sircimbundle_usuariotype_usContrasena_pass').val();
        var confirm = $('#hnr_sircimbundle_usuariotype_usContrasena_confirm').val();
        // alert('ascsa');
        var existe= $('.guardar').attr('existe');
        var login= $('.guardar').attr('login');
        var errores=0;
        var id=$('#titulo').attr('name');

        var check=0;

         $('.btn_radio:checked').each(function() {
            // $(this).val() es el valor del checkbox correspondiente
           // alert('chequeado'); 
           check++;
           // $('#hnr_sircimbundle_usuariotype_placas_0_usroPredeterminado').prop('checked', true);
        });// $('.btn_radio').attr('name', 'rol_predet');

        if(check==0){
            mensaje_error("Seleccione un rol predeterminado para el usuario");
            return false;
        }

        if(pass!=confirm){
            mensaje_error("Las contraseñas no son iguales");
            
            return false; 
        }
        if(existe==1){
            
            mensaje_error("El e-mail '"+$('#hnr_sircimbundle_usuariotype_usCorreo').val()+"' ya fue creado");
            errores++;
        }

        if(login==1){
            mensaje_error("El login '"+$('#hnr_sircimbundle_usuariotype_usLogin').val()+"' ya fue creado");
            errores++;
        }

        if(!loginusuario($('#hnr_sircimbundle_usuariotype_usLogin').val())){
            mensaje_error("El login solo debe incluir letras, números");
            return false;
        }



            var valido=0;
            var pass1 = $('#hnr_sircimbundle_usuariotype_usContrasena_pass').val();
            var pass2 = $('#hnr_sircimbundle_usuariotype_usContrasena_confirm').val();
            
            if(pass1!='' || pass2!='' ){
                valido=1;
                if(pass1.length<8){
                    mensaje_error("La contraseña debe tener mínimo 8 caracteres");
                    $('#hnr_sircimbundle_usuariotype_usContrasena_pass').addClass('errorform');
                }
                else{
                    if(pass1!=pass2){
                        mensaje_error("Las contraseñas no son iguales");
                        $('#hnr_sircimbundle_usuariotype_usContrasena_pass').addClass('errorform');
                        $('#hnr_sircimbundle_usuariotype_usContrasena_confirm').addClass('errorform');
                    }
                    else{
                        if(!CheckPassword(pass1)){
                            mensaje_error("La contraseña debe tener al menos un número, una mayúscula y una minúscula");
                            $('#hnr_sircimbundle_usuariotype_usContrasena_pass').addClass('errorform');
                            $('#hnr_sircimbundle_usuariotype_usContrasena_confirm').addClass('errorform');       
                        }
                        else{
                            // var login = 
                            var login = $('#header label').attr('id');
                            var contrasena = $('#hnr_sircimbundle_usuariotype_usContrasena_pass').val();
                            // $.getJSON(Routing.generate('continuar_sistema', { login: login}), function(data) { 
                            // }); 
                            mensaje_exito("Contraseña modificada con éxito");
                            valido=0;

                        }
                    }


                }
            }
            if(valido==1)
                return false;



        if(errores==0){
            // var login = $('#nombre_usr label').attr('id');
            // $.getJSON(Routing.generate('usuario_update',{login:login}),
            
            //                 function(data) {
            //                     $.each(data.regs, function(indice, reg) {
            //                             // $('.guardar').attr('error','1');
                                    
            //                     });

            //                 });
            
            
                // $('#deshabilitar').fadeOut('fast');
                // $('#popup_box_rol').fadeOut('fast');
                // alertify.success("<div class='icon_msg'><img src={{ asset('bundles/hnrsircim/img/info.png') }}></div><div class=\"msg\">El rol '"+$('#hnr_sircimbundle_roltype_roNombre').val()+"' creado con éxito</div>");   
            // return false;
            mensaje_exito("Usuario modificado con éxito");
        }
        else{
            event.preventDefault();
        }
    });

    //Verifica si la contraseña tiene un numero, una mayuscula y una minuscula 
        function CheckPassword(inputtxt){   
            var passw = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}$/;  
            if(inputtxt.match(passw)){   
                
                return true;  
            }  
            else{   
                
                return false;  
            }  
        } 


    $('#cancelar').click(function(event) {
        /* Act on the event */
        $('#deshabilitar').fadeOut('fast');
        $('#popup_box').fadeOut('fast');
        mensaje_info("Acción cancelada");
        return false;
    });

    $('.link').on('click', function(event) {
        event.preventDefault();
        /* Act on the event */

        $(this).parent('li').remove();

    });
        

    $('#hnr_sircimbundle_estudioradiologicotype_placas>div>label.required').hide('slow/400/fast');
    col.children('div').each(function() {
        addTagFormDeleteLink($(this));
    }); 

    collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));

    });

    

    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    collectionHolder.data('index', collectionHolder.find(':input').length);
    

    // addTagForm(collectionHolder, $newLinkLi);


    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collectionHolder, $newLinkLi);
        // $('.btn_radio').attr('name', 'rol_predet');
    });



$(document).on('click', '.close', function(){
        alert('del');
    $(this).closest('#hnr_sircimbundle_estudioradiologicotype_placas').fadeOut(500, function() {
        $(this).remove();
    });
});

    
});




function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = collectionHolder.data('prototype');

    // get the new index
    var index = collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    // var $newFormLi = $('<li></li>').append(newForm);
    var $newFormLi = $('<li></li>').append('<div>'+newForm+'</div>');
    $newLinkLi.before($newFormLi);
    


    // add a delete link to the new form
    addTagFormDeleteLink($newFormLi);
    $('.btn_radio').click(function(event) {
        /* Act on the event */
        var id = $(this).attr('id');
        // alert(id);
        $('.btn_radio').prop('checked', false);
        $('#'+id).prop('checked', true);
     
    });
}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a class="link" href="#">x</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // $('.btn_radio:checked').each(function() {
        //     //$(this).val() es el valor del checkbox correspondiente
        //    // alert('chequeado'); 
        //    $('#hnr_sircimbundle_usuariotype_placas_0_usroPredeterminado').prop('checked', true);
        // });
        // remove the li for the tag form
        $tagFormLi.remove();
    });
}

$('ul.placas')
            .on('mouseover','li', function(){
                $(this).find('a.link').css('visibility','visible');
            })
            .on('mouseout','li', function(){ 
                $(this).find('a.link').css('visibility','hidden'); 
            });

$('ul.placas')
            .on('mouseover','li:first-child', function(){
                $(this).find('a.link').css('visibility','hidden');
            });

        // $('.btn_radio').each(function() {
        //     //$(this).val() es el valor del checkbox correspondiente
        //    // alert('chequeado'); 
        //    $('#hnr_sircimbundle_usuariotype_placas_0_usroPredeterminado').prop('checked', true);
        // });// $('.btn_radio').attr('name', 'rol_predet');


</script>




{% endblock %} #}
