

{% block body -%}
    <div id="titulo_barra">
        Consultar usuario
        <a class="cerrar" href="#">x</a>
    </div>


    <table id="tbl_nuevo_usuario" align="center">
            <tr>
                <td colspan="2">
                    <div id="titulo">
                        Información personal
                    </div>                
                </td>
            </tr>
            <tr>
                <td>
                    Nombre:
                </td>
                <td>
                    
                        {% for empleado in empleados %}
                            {% if empleado.Idempleado == entity[0].getIdUsuario().idempleado %}
                                {{empleado.Nombre}}
                            {% endif %}
                        {% endfor %}
                    
                </td>
            </tr>
            <tr>
                <td>
                    E-mail:
                </td>
                <td>
                    {{ entity[0].idUsuario.usCorreo }}
                </td>
            </tr>    

            <tr>
                <td>
                    Login:
                </td>
                <td>
                    {{ entity[0].idUsuario.usLogin }}
                </td>
            </tr>    
            <br>
<br>

            <tr>
                <td colspan="2">
                    <div id="titulo">
                        Roles
                    </div>                
                </td>
            </tr>
            <tr> 
                <td colspan="2" style="text-align: left; padding-left: 40%;">





                    
                    <ol style="list-style: decimal outside none;">
                            {% for key, placa in entity %}
                                <li id="l" class="l">
                                             {{ placa.idRol.roNombre }}<br><br>
                                             {# <a class="link" href="#" style="visibility: hidden;">x</a> #}
                                </li>                   
                            {% endfor %}

                    </ol>
                            {# <div class="listado">
                                <ul class="placas" data-prototype="{{ form_widget(edit_form.placas.vars.prototype)|e }}">
                                    {{ form_widget(edit_form.placas) }}
                                </ul>
                            </div> #}
                           
                 </td>
            </tr>
            
              
              
        
        </table>


    
    
{% endblock %}
{% block script %}
    

<script type="text/javascript">


jQuery(document).ready(function() {

    $('.cerrar').click(function(event) {
        /* Act on the event */
        $('#deshabilitar').fadeOut('fast');
        $('#popup_box').fadeOut('fast');
        return false;
    });
});




</script>

{% endblock %}